@import '../../App.scss';

.music-player-container {
  background: rgba($grey2, 0.5);
  backdrop-filter: blur(20px);
  width: 350px;
  padding: 10px;
  border-radius: 6px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  transition: background .3s;

  &:hover {
    background: rgba($grey2, 0.7);
  }

  .top {
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    .image {
      width: 80px;
      height: 80px;
      border-radius: 6px;
      background: rgba($black, 0.5);

      img {
        border-radius: 6px;
        width: 80px;
        height: 80px;
      }
    }

    .text {
      width: 240px;
      p {
        line-height: 1.25;
      }
    }
  }
  
  
  .player {
    gap: 12px;
    padding: 10px 0 5px 0;

    .slider {
      width: 330px;
      appearance: none;
      background: rgba($white, 0.1);
      height: 4px;
      border-radius: 100vw;
      overflow: hidden;
      cursor: pointer;

      &::-webkit-slider-thumb {
        appearance: none;
        height: 4px;
        width: 8px;
        background: rgba($white, 0.5);
        cursor: pointer;
        border-radius: 100vw;
        box-shadow: -502px 0 0 500px rgba($white, 0.5);
        transition-duration: 0.3s;
      }

      &:disabled {
        &::-webkit-slider-thumb {
          background: none;
          box-shadow: none;
        }
      }

      &:hover {
        &::-webkit-slider-thumb {
          background: rgba($white, 1);
          box-shadow: -502px 0 0 500px rgba($white, 1);
        }
      }
    }

    .controls {
      margin: 0px 0 -4px 0;
      gap: 6px;

      button {
        all: unset;
        cursor: pointer;
        height: 1em;
        width: 1em;
        font-size: 2em;
      }
    }
  }
}